/vendor
/var
/coverage
/coverage.xml

.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache

.idea/
.vscode/
*.swp
*.swo
*.orig

.DS_Store
Thumbs.db
d
*.log

docker-compose.override.yml
.env
.env.local
