/docs export-ignore
/tests export-ignore
/.github export-ignore
/docker export-ignore
/var export-ignore
/coverage export-ignore
/coverage.xml export-ignore

/phpunit.xml.dist export-ignore
/phpstan.neon export-ignore
/.php-cs-fixer.php export-ignore
/.editorconfig export-ignore

/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/.php-cs-fixer.cache export-ignore