services:
  ftps:
    image: stilliard/pure-ftpd:hardened
    ports:
      - "2221:21"
      - "22100-22110:22100-22110"
    environment:
      PUBLICHOST: ftps
      FTP_USER_NAME: test
      FTP_USER_PASS: test
      FTP_USER_HOME: "/home/pureftpd/test"
      FTP_PASSIVE_PORTS: "22100:22110"
    volumes:
      - ftps_user_home:/home/pureftpd
      - integration_state:/etc/ssl/private
    command: ["/run.sh", "-c", "30", "-C", "10", "-l", "puredb:/etc/pure-ftpd/pureftpd.pdb", "-E", "-j", "-P", "ftps", "-p", "22100:22110", "-Y", "2"]

  ftps-cert:
    image: alpine:3.20
    volumes:
      - integration_state:/state
      - ./bin/ftps-certificate:/usr/local/bin/ftps-certificate:ro
    entrypoint: ["/bin/sh", "-lc", "apk add --no-cache openssl >/dev/null 2>&1 && ftps-certificate"]

  php:
    build:
      context: .
      dockerfile: Dockerfile.integration.ftps
    working_dir: /app
    volumes:
      - ./:/app
      - integration_state:/state
    environment:
      FTPS_HOST: ftps
      FTPS_PORT: 21
      FTPS_USER: test
      FTPS_PASS: test
    command: ["bash", "-lc", "bin/integration"]

volumes:
  integration_state:
  ftps_user_home: